.banner {
    background-size: cover;
    background-position: center;
    max-width: 1500px;
    height: 223px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    margin: 50px 20px 50px 20px;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 150px;
        margin-right: 20px;   
        
    }
}
.overlay {
    background-color: rgba(0, 0, 0, .40);
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text {
    color: white;
    font-size: 48px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
        font-size: 24px;
        
    }
}
.home-banner {
    background-image: url('../HomeBanner.png');
}
.about-banner {
    background-image: url('../AboutBanner.png');
}

