header {
    background-color: white;
    padding: 0.5rem 1rem;
    margin-top: 5%;
    margin-bottom: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
}
.logo-container {
    flex-shrink: 0;
}
.logo {
    width: 150px;
    height: auto
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    gap: 50px;
    overflow: hidden;
    background-color: white;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    color:black;
    font-size: 24px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    border-bottom: solid;
}