.not-found {
  text-align: center;
  margin-top: 50px;
  h1 {
    font-size: 10em;
    color: #f00;
    align-self: center;
  }
  p {
    font-size: 2em;
    color: #f00;
  }
  a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
  }
  a:hover {
    text-decoration: underline;
  }
}
