.property-page {
  padding: 20px;
  width: 100%;
}
banner {
  display: none;
}
.property-carousel {
  margin: 0 auto;
  max-width: 800px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 36px;
  text-align: left;
  color: #ff6060;
} 
h4 {
    color: black;
  margin-top: 0;
  text-align: left;
}
.property-carousel .carousel-item {
    width: 100%;
    height: auto;
}
.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.carousel .control-arrow {
    opacity: 100%;
    z-index: 15;
    display: block;
    cursor: pointer;
}
.carousel .control-next.control-arrow::before, 
.carousel .control-prev.control-arrow::before {
    border: solid black;
    content: '';
    display: inline-block;
    border-width: 0 5px 5px 0;
    padding: 3px;
}
.carousel .slider-wrapper {
    overflow: hidden;
    object-fit: cover;
    margin: 0;
    height: 450px;
}
.carousel .slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.carousel .slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}
.carousel .thumbs-wrapper {
    display: none;
}
.property-info {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
  .main-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.property-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.tags {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.host-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
}
.host {
        color: #ff6060;
}
.host-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.tags-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rating {
  margin-top: 10px;
  align-items: end;
}
.collapsible {
    display: flex;
    flex-direction: row nowrap;
}
.collapsible-section {
  margin: 40px  40px 10px 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.collapsible-button {
  background-color: #ff6060;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}
.collapsible-content {
  gap: 10px;
  text-align: left;
  border-top: 1px solid #d05a5a;
}
.collapsible-content ul {
    display: flex;
    flex-direction: column;
  list-style-type: none;
  padding: 0px;
  gap: 5px;
}
.property-page p {
  margin-top: 20px;
}
