.property-page {
  padding: 20px;
}
.property-carousel {
  margin: 0 auto;
  max-width: 800px;
}
h1 {
  margin-top: 0;
  text-align: left;
} 
h4 {
  margin-top: 0;
  text-align: left;
}
.property-carousel .carousel-item {
    width: 100%;
    height: auto;
}
.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.carousel .control-arrow {
    opacity: 5;
    z-index: 10;
    display: block;
    cursor: pointer;
}
.carousel .control-next.control-arrow::before, 
.carousel .control-prev.control-arrow::before {
    /* border: solid #fff; */
    /* content: '';
    display: inline-block;
    border-width: 0 3px 3px 0; */
    padding: 3px;
}
.carousel .slider-wrapper {
    overflow: hidden;
    margin: 0 auto;
    height: 500px;
}
.carousel .slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carousel .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carousel .thumbs-wrapper {
    display: none;
}
.tags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.tag {
  background-color: #ff6060;
  padding: 5px 10px;
  border-radius: 5px;
}
.rating {
  margin-top: 10px;
}
.collapsible-section {
  margin-top: 20px;
}
.collapsible-button {
  background-color: #ff6060;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}
.collapsible-content {
  padding: 10px;
  text-align: left;
  border-top: 1px solid #d05a5a;
}
.collapsible-content ul {
  list-style-type: none;
  padding: 0;
}
.property-page p {
  margin-top: 20px;
}
/* .carousel .slide img {
  max-height: 45%;
  object-fit: cover;
} */